/*_variables.scss */
/* Body Text Styles */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,800';

$font: 'Open Sans', Helvetica, Arial, sans-serif;
$blue:#2fa0a8;
$lblue:#41babf;
$grey:#e7e7e7;
$charc:#415155;